/* Home Page CSS */
		
	h1 {color: gold; font-size: 200px; text-align: center}
		
	nav {text-align: center}
		
	body {font-family: "Shadows Into Light", cursive; background-color: black}

	a {color: white; font-size: 35px}
		
	ul {list-style-type: none;}
		
